<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	<fliter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</fliter>
	
	<filter-mappping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mappping>

</web-app>